/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.DS_Store
.idea
.temp
.vite_opt_cache
.vscode
# 直接本地构建，服务器直接拉取来部署（文件不大，可以不用那么麻烦）
# dist
cache
temp
examples-temp
node_modules
pnpm-global
TODOs.md