:root {
  /* 定义首页大标题颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #2af598,
    #009efd
  );

  /* 定义品牌色，也就是网站主色 */
  --vp-c-brand-1: #005e99ff;
  --vp-c-brand-2: #007fccff;
  --vp-c-brand-3: #009efd;
}

/*
 * 自定义 emoji 页面样式
 */
.emoji-page-class h2 + p,
.emoji-page-class h3 + p {
  letter-spacing: 2px;
  line-height: 1.2;
  /* border: 1px solid #009efd; */
  font-size: 1.6em;
}
