:root {
  /* 定义首页大标题颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #2af598,
    #009efd
  );

  /* 定义品牌色，也就是网站主色 */
  --vp-c-brand-1: #005e99ff;
  --vp-c-brand-2: #007fccff;
  --vp-c-brand-3: #009efd;

  /* 定义 underline 颜色 */
  --r-c-u-bg: #ffff00;
}

.dark {
  --r-c-u-bg: #474114;
}

/*
 * 自定义 emoji 页面样式
 */
.emoji-page-class h2 + p,
.emoji-page-class h3 + p {
  letter-spacing: 2px;
  line-height: 1.2;
  /* border: 1px solid #009efd; */
  font-size: 1.6em;
}

/*
 * 自定义 h4 标题样式
 */
.vp-doc h4 {
  margin: 24px 0 0;
  letter-spacing: -0.02em;
  line-height: 24px;
  font-size: 18px;
  color: var(--vp-c-text-2);
}
.vp-doc h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 108px;
  background-color: var(--vp-code-bg);
}

em {
  color: var(--docsearch-muted-color);
  font-style: normal;
}

em > code {
  color: var(--vp-code-lang-color) !important;
}

/*
 * 自定义<u>标签样式，模拟记号笔下划线
 */
u {
  text-decoration: none; /* 移除默认下划线 */
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--r-c-u-bg) 50%
  ); /* 下半部分淡黄色背景 */
  color: inherit; /* 保持文字颜色 */
}
